<?xml version="1.0"?>
<ApplicationConfig>
	<Logging>
		<ExceptionLogProvider>DefaultLogProvider</ExceptionLogProvider>
		<EventLogProvider>DefaultLogProvider</EventLogProvider>
	</Logging>
	<AppSettings version="1.2">
		<DockPosition>Bottom</DockPosition>
		<Font>Tahoma,8,N</Font>
		<ActiveFontColour>33023</ActiveFontColour>
		<MaxNumTabs>10</MaxNumTabs>
		<ShowFullName>false</ShowFullName>
		<MaxChars>30</MaxChars>
		<ShowRecentFiles>true</ShowRecentFiles>
		<IncludeSolutionFiles>true</IncludeSolutionFiles>
		<IncludeProjectFiles>true</IncludeProjectFiles>
		<IncludeClassFiles>true</IncludeClassFiles>
		<IncludeProgramFiles>true</IncludeProgramFiles>
		<IncludeFormFiles>true</IncludeFormFiles>
		<IncludeReportFiles>true</IncludeReportFiles>
		<IncludeDatabaseFiles>true</IncludeDatabaseFiles>
		<IncludeTableFiles>true</IncludeTableFiles>
		<OnTableSelection>browse</OnTableSelection>
		<DoubleClickToClose>true</DoubleClickToClose>
	</AppSettings>
	<Providers>
		<DefaultLogProvider>TextFileProvider</DefaultLogProvider>
	</Providers>
</ApplicationConfig>
